# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# IDE - Sublime
www-pamela-kay-com.sublime-project
www-pamela-kay-com.sublime-workspace


# Less/CSS pre-processor - CodeKit
config.codekit3


#System Files
.DS_Store
npm_debug.log
Thumbs.db
